{extend name="public/base" /}

<!-- 当前页面的样式及JS -->
{block name="custom"}
<script src="/static/index/js/jquery-1.11.3.js" type="text/javascript"></script>
<script src="/static/index/js/jquery.xdomainrequest.min.js" type="text/javascript"></script>
<script type="text/javascript">
    function FromSubmit() {
        $("#tijiao").attr("disabled", "disabled");
        var name = $("#uname").val();
        var phone = $("#tel").val();
        var content = $("#content").val();
        var address = $("#address").val();
        var email = $("#email").val();
        if (phone.length == 0) {
            alert("请填写必填信息");
            return false;
        }
        else if (phone.length > 11 || phone.length < 7) {
            alert("请填写正确手机号码");
            return false;
        }

        $.ajax({
            url:"{:url('index/Contactus/insert_message')}",
            type:"POST",
            data:{
                name:name,
                phone:phone,
                email:email,
                address:address,
                content:content,
            },
            success:function(res){
                //console.log(res);
                if(res.code == 1){
                    alert(res.msg);
                    history.go(0);
                }else{
                    alert(res.msg);
                    $("#tijiao").removeAttr("disabled");
                }
            },
            error: function(message) {
                //console.log(message);
                alert(message);
                $("#tijiao").removeAttr("disabled");
            }
        });
    }
</script>
{/block}

<!--内容-->
{block name="main"}

<div class="a1" align="center">
    <div class="a15" align="center">
        <table width="910" border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
                <td height="50">
                </td>
            </tr>
            <tr>
                <td>
                    <div align="left" class="font14" style="line-height: 27px;">
                        <div class="a1" align="center">
                            <div class="a17" align="center">
                                <table width="930" border="0" cellpadding="0" cellspacing="0" align="center">
                                    <tr>
                                        <td height="50">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div align="left" class="font14" style="line-height: 27px;">
                                                <table width="930" align="center" style="background: url(/static/index/image/lxwm.jpg);"
                                                       border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                    <tr class="firstRow">
                                                        <td height="70" colspan="3">
                                                            <br />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="523">
                                                            <br />
                                                        </td>
                                                        <td width="303" height="50">
                                                            <p>
                                                                <span style="color: rgb(255, 255, 255); font-size: 14px;">一纸馋总部</span><span style="color: rgb(255, 192, 0);
                                                    font-size: 18px;"><br />
                                                    客服电话：{$configuration.tel}</span> <span style="color: rgb(255, 192, 0); font-size: 18px;">
                                                        <br />
                                                        400热线：{$configuration.mobile}</span>
                                                            </p>
                                                            <p>
                                                                <span style="color: rgb(255, 255, 255); font-size: 12px;">总部地址：{$configuration.address}</span>
                                                            </p>
                                                            <p>
                                                                <span style="color: rgb(255, 255, 255); font-size: 12px;">投资有风险，选择需谨慎</span>
                                                            </p>
                                                        </td>
                                                        <td width="104">
                                                            <br />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="100" colspan="3">
                                                            <br />
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <p>
                                                    &nbsp;</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div align="center" style="width: 800px; margin: 0 auto; text-align: center; background: #f2f2f2;
                            border: 1px solid #e0dede;">
                                                <div align="center">
                                                    <table width="660" border="0" cellpadding="0" cellspacing="0" align="center" class="bais">

                                                        <tr>
                                                            <td height="30" colspan="3">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="36" height="35" align="left" class="heis font14 ">
                                                                姓名
                                                            </td>
                                                            <td width="11">
                                                            </td>
                                                            <td width="315" align="left">
                                                                <input id="uname" name="uname" type="text" id="uname" style="width: 280px; height: 26px;
                                                line-height: 26px; border: 1px solid #d9d9d9;" maxlength="10" />
                                                            </td>
                                                            <td width="298" class="font14 huis" align="left">
                                                                <span class="hongs">*</span> 您的真实姓名
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="10" colspan="3">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="35" align="left" class="heis font14 ">
                                                                电话
                                                            </td>
                                                            <td>
                                                            </td>
                                                            <td align="left" class="heis font14 ">
                                                                <input id="tel" name="tel" type="text" style="width: 280px; height: 26px; line-height: 26px;
                                                border: 1px solid #d9d9d9;" onkeyup="value=value.replace(/[^\d]/g,'') " maxlength="11" />
                                                            </td>
                                                            <td class="font14 huis" align="left">
                                                                <span class="hongs">*</span> 电话是与您联系的重要方式,请正确填写
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="10" colspan="3">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="35" align="left" class="heis font14 ">
                                                                邮箱
                                                            </td>
                                                            <td>
                                                            </td>
                                                            <td align="left" class="heis font14 ">
                                                                <input id="email" name="email" type="text" style="width: 280px; height: 26px; line-height: 26px;
                                                border: 1px solid #d9d9d9;" maxlength="30" />
                                                            </td>
                                                            <td>
                                                                <span class="hongs">*</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="10" colspan="3">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="35" align="left" class="heis font14 ">
                                                                地址
                                                            </td>
                                                            <td>
                                                            </td>
                                                            <td align="left" class="heis font14 ">
                                                                <input id="address" name="address" type="text" style="width: 280px; height: 26px;
                                                line-height: 26px; border: 1px solid #d9d9d9;" maxlength="30" />
                                                            </td>
                                                            <td>
                                                                <span class="hongs">*</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="10" colspan="3">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="35" align="left" class="heis font14 ">
                                                                内容
                                                            </td>
                                                            <td>
                                                            </td>
                                                            <td align="left" class="heis font14 ">
                                            <textarea id="content" name="content" style="width: 278px; height: 139px; line-height: 20px;
                                                border: 1px solid #d9d9d9;"></textarea>
                                                            </td>
                                                            <td valign="bottom" align="left">
                                                                <div>
                                                                    <input id="tijiao" name="Submit" type="image" onclick="FromSubmit()" src="/static/index/image/sub1.jpg" />
                                                                </div>
                                                                <div style="margin-top: 10px;">
                                                                    <input name="Submi1t" type="reset" value="" style="background: url(image/sub2.jpg) no-repeat;
                                                    height: 33px; width: 109px; border: 0;" />
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="70" colspan="5">
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="20">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td height="30">
                </td>
            </tr>
        </table>
    </div>
</div>

{/block}